
		<html>
		<head>
		    <title>Contour Thank you for your order</title>
		</head>

		<body>
		    <table cellpadding="0" cellspacing="0" style="width:100%;">
		        <tr>
		            <td align="center">
		                <table cellpadding="0" cellspacing="0" style=
		                "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;color:#000;"
		                width="600">
		                    <tr>
		                        <td valign="bottom" width="199"><a href=
		                        "http://store.contour.com" style=
		                        "display:block;"><img alt="Contour" border="0" src=
		                        "http://cdn.shopify.com/s/files/1/0303/8453/files/emailorderreceiptHeader.gif?2601"
		                        style="width:600px; height:52px;"></a></td>
		                    </tr>
		                </table>

		                <table cellpadding="0" cellspacing="0" style=
		                "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;color:#000;padding-top:25px;"
		                width="600">
		                    <tr>
		                        <td style="padding-left:21px;">
		                            <p style=
		                            "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:12px;color:#777;">
		                            Dear {{ customer.name }},</p>

		                            <p style=
		                            "font-size: 12px; color: #777777;font-weight: normal;">
		                            Thank you for ordering from Contour.</p>

		                            <p style=
		                            "background-color: #000000;color: #FFFFFF;font-size: 14px; font-weight: normal; height: 32px; position: relative; width: 280px;">
		                            <span style=
		                            "left: 17px;position: absolute; top: 7px;">Your
		                            order number is {{ order_number }}.</span></p>

		                            <p style=
		                            "margin-bottom:25px; font-size: 12px; color: #777777;font-weight: normal;">
		                            Your order details are below</p>
		                        </td>
		                    </tr>
		                </table>

		                <table cellpadding="0" cellspacing="0" width="600">
		                    <tr>
		                        <td style="padding-left:21px;">
		                            <table border="0" cellpadding="5" cellspacing="0"
		                            style=
		                            "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#000;background-color:#EFF0F1; float:left;"
		                            width="279">
		                                <!-- start contact/billing details -->

		                                <thead>
		                                    <tr>
		                                        <th colspan="2" style=
		                                        "text-align:left;text-transform: uppercase; font-size:14px; color:#333333; font-weight: normal; padding-top:21px; padding-left:22px;">
		                                        Billing Address</th>
		                                    </tr>
		                                </thead>

		                                <tbody>
		                                    <tr>

		                                        <td style=
		                                        "font-size:10px; color:#777777; font-weight: normal; padding-left:22px; padding-bottom: 17px;"
		                                        width="70%"><span class="addrName">
		                                        {{ billing_address.name }}</span><br>
		                                        {{ billing_address.street }}<br>
		                                        {{ billing_address.city }}, {{ billing_address.province }} {{ billing_address.zip }}<br>
		                                        {{ billing_address.country }}<br>
		                                        <br>
		                                        <br></td>
		                                    </tr>
		                                </tbody>
		                            </table>

		                            <table border="0" cellpadding="5" cellspacing="0"
		                            style=
		                            "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#000;background-color:#EFF0F1; float:left; clear:right; margin-left:2px; margin-right:19px; margin-top:0px; margin-bottom:2px;"
		                            summary="Details for your Contour order" width=
		                            "279">
		                                <thead>
		                                    <tr>
		                                        <th colspan="2" style=
		                                        "text-align:left;text-transform: uppercase; font-size:14px; color:#333333; font-weight: normal; padding-top:21px; padding-left:22px;">
		                                        Shipping Address</th>
		                                    </tr>
		                                </thead>

		                                <tbody>
		                                    <tr>

		                                        <td style=
		                                        "font-size:10px; color:#777777; font-weight: normal; padding-left:22px; padding-bottom: 17px;"
		                                        width="70%"><span class="addrName">
		                                        {{ shipping_address.name }}</span><br>
		                                        {{ shipping_address.street }}<br>
		                                        {{ shipping_address.city }}, {{  shipping_address.province }} {{ shipping_address.zip }}<br>
		                                        {{ shipping_address.country }}<br>
		                                        <br>
		                                        <br></td>
		                                    </tr>
		                                </tbody>
		                            </table><br>

		                            <table cellpadding="0" cellspacing="0" style=
		                            "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#000; width:560px; padding-top:0px; background-color: #FFFFFF; border:5px solid #EFF0F1; position: relative; margin-bottom:2px;">
		                            <!-- start items loop -->

		                                <thead>
		                                    <tr>
		                                        <th scope="col" style=
		                                        "height:42px;color:#333333;text-align:left; padding-left:21px;background-color:#FFFFFF;font-size:12px; font-weight: normal;text-transform: uppercase; border-right:1px solid #EFF0F1; border-bottom:1px solid #EFF0F1;"
		                                        width="220">Item Description</th>

		                                        <th scope="col" style=
		                                        "height:42px;color:#333333;text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal;text-transform: uppercase; border-right:1px solid #EFF0F1; border-bottom:1px solid #EFF0F1;"
		                                        width="85">Price Each</th>

		                                        <th scope="col" style=
		                                        "height:42px;color:#333333;text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal;text-transform: uppercase; border-right:1px solid #EFF0F1; border-bottom:1px solid #EFF0F1;"
		                                        width="80">Quantity</th>

		                                        <th scope="col" style=
		                                        "height:42px;color:#333333;text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal;text-transform: uppercase; border-bottom:1px solid #EFF0F1;border-right:1px solid #EFF0F1;"
		                                        width="85">Total Price</th>
		                                    </tr>
		                                </thead>


		                                <tbody>
		                                	{% for line in line_items %}
			                                    <tr>
			                                        <td class="image" style="vertical-align: middle; text-align:left; background-color:#FFFFFF;font-size:12px; font-weight: normal; color:#333333;border-right:1px solid #EFF0F1; ">
			                                        <a href="{{ shop.url }}{{ line.product.url }}">
				                                        <img alt="ContourROAM 2" src="{{ line.product.featured_image |  product_img_url }}" style="float:left; border:0; height:50px; padding:5px;"></a>
			                                        <span style="vertical-align: middle; height: 50px; display: table-cell;">{{ line.title }}</span></td>

			                                        <td style="text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal; color:#333333;border-right:1px solid #EFF0F1;">
			                                        {{ line.price | money }}</td>

			                                        <td style="text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal; color:#333333;border-right:1px solid #EFF0F1;">
			                                        {{ line.quantity }}</td>

			                                        <td style="text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal; color:#333333;border-right:1px solid #EFF0F1;">
			                                        {{ line.line_price | money }}</td>
			                                    </tr>
		                                    {% endfor %}
		                                </tbody><!-- end items loop -->
		                            </table>
		                        </td>
		                    </tr>
		                </table>

		                <table cellpadding="0" cellspacing="0" width="600">
		                    <tr>
		                        <td style="padding-left:21px;">
		                            <table border="0" cellpadding="5" cellspacing="0"
		                            style=
		                            "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#000;background-color:#EFF0F1; float:left; clear:both;"
		                            width="560">
		                                <!-- start totals -->

		                                <thead>
		                                    <tr>
		                                        <th colspan="2" style=
		                                        "text-align:left;text-transform: uppercase;font-size:14px; color:#333333; font-weight: normal; padding-top:24px; padding-left:18px;">
		                                        Order Totals</th>
		                                    </tr>
		                                </thead>

		                                <tbody>
		                                    <tr>
		                                        <td style="margin: 0; padding: 0;">
		                                        &nbsp;</td>
		                                    </tr>

		                                    <tr>
		                                        <th style=
		                                        "text-align:left;font-size:12px; color:#333333; font-weight: normal;) repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style=
		                                            "padding-left:13px; background-color:#EFF0F1;">
		                                            Subtotal
		                                            </div>
		                                        </th>

		                                        <td align="right" style=
		                                        "font-size:12px; color:#333333; font-weight: normal;background: url('http://cdn.shopify.com/s/files/1/0303/8453/files/orderdetailsDots.png?2602') repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style="padding-right:14px;">
		                                                <span style=
		                                                "background-color:#EFF0F1;padding-right:15px;position:relative;right:-19px;">
		                                                {{ subtotal_price | money_with_currency }}</span>
		                                            </div>
		                                        </td>
		                                    </tr>
		                                    {% if discounts %}
		                                    <tr>
		                                        <th style=
		                                        "text-align:left;font-size:12px; color:#333333; font-weight: normal;) repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style=
		                                            "padding-left:13px; background-color:#EFF0F1;">
		                                            Discount (code: {{ discounts.first.code }}):
		                                            </div>
		                                        </th>

		                                        <td align="right" style=
		                                        "font-size:12px; color:#333333; font-weight: normal;) repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style="padding-right:14px;">
		                                                <span style=
		                                                "background-color:#EFF0F1;padding-right:15px;position:relative;right:-19px;">
		                                                {{ discounts_savings | money_with_currency }}</span>
		                                            </div>
		                                        </td>
		                                    </tr>
		                                    {% endif %}
		                                    <tr>
		                                        <th style=
		                                        "text-align:left;font-size:12px; color:#333333; font-weight: normal;) repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style=
		                                            "padding-left:13px; background-color:#EFF0F1;">
		                                            Shipping
		                                            </div>
		                                        </th>

		                                        <td align="right" style=
		                                        "font-size:12px; color:#333333; font-weight: normal;) repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style="padding-right:14px;">
		                                                <span style=
		                                                "background-color:#EFF0F1;padding-right:15px;position:relative;right:-19px;">
		                                                {{ shipping_price | money_with_currency }}</span>
		                                            </div>
		                                        </td>
		                                    </tr>
		                                    {% for tax_line in tax_lines %}
		                                    <tr>
		                                        <th style=
		                                        "text-align:left;font-size:12px; color:#333333; font-weight: normal;) repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style=
		                                            "padding-left:13px; background-color:#EFF0F1;">
		                                            {{ tax_line.title }}
		                                            </div>
		                                        </th>

		                                        <td align="right" style=
		                                        "font-size:12px; color:#333333; font-weight: normal;) repeat-x scroll 0 65% transparent;"
		                                        width="280">
		                                            <div style="padding-right:14px;">
		                                                <span style=
		                                                "background-color:#EFF0F1;padding-right:15px;position:relative;right:-19px;">
		                                                {{ tax_line.price | money_with_currency  }}</span>
		                                            </div>
		                                        </td>
		                                    </tr>
		                                    {% endfor %}
		                                    <tr>
		                                        <td style="margin: 0; padding: 0;">
		                                        &nbsp;</td>
		                                    </tr>

		                                    <tr style=
		                                    "color:#FFFFFF;background-color:#000000;">
		                                        <th style=
		                                        "text-align:left;font-size:14px; color:#FFFFFF; font-weight: normal; padding-left:18px;"
		                                        width="280">ORDER TOTAL</th>

		                                        <td align="right" style=
		                                        "font-size:14px; color:#FFFFFF; font-weight: normal; padding-right:14px;"
		                                        width="280">{{ total_price | money_with_currency }}</td>
		                                    </tr>
		                                </tbody><!-- end totals -->
		                                <!-- 
		<thead>
		<tr>
		    <th width="30%" style="text-align:left;">Promotions Included</th>
		</tr>
		</thead>
		<tbody>

		<tr>
		    <td width="70%" style="text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal; color:#333333;">2013 - Q2 VIP 50 Off (-$199.99)</td>
		</tr>

		</tbody>
		 -->
		                            </table>
		                        </td>
		                    </tr>
		                </table><!-- for standard orders -->
		                <!-- 
		<p style="font-family:Arial, Helvetica, Verdana, sans-serif;font-size: 12px; color: #777777;font-weight: normal; padding-left:20px;">To check the status of this order, to change your contact details or to view your order history, go to your <a href="http://store.contour.com/ae/us/general-content/sign-in/page/signin">'My Account'</a> page.</p>
		 -->

		                <table cellpadding="0" cellspacing="0" style="margin-top:10px;"
		                width="600">
		                    <tr>
		                        <td style="text-align:left;">
		                            <p style=
		                            "font-family:Arial, Helvetica, Verdana, sans-serif;font-size:12px;color:#333333; padding-left:20px; clear:both; float:none; margin-top:15px;">
		                            You will receive a shipment notification complete
		                            with tracking information once your order has
		                            shipped.</p>

		                            <p style=
		                            "font-family:Arial, Helvetica, Verdana, sans-serif;font-size:12px;color:#333333; padding-left:20px;">
		                            Thanks,<br>
		                            <!-- <p style="font-family:Arial, Helvetica, Verdana, sans-serif;font-size:16px;color:#000;"><a href="http://store.contour.com">Contour</a></p> -->
		                            Contour Support</p>
		                        </td>
		                    </tr>
		                </table>
		            </td>
		        </tr>
		    </table>
		</body>
		</html>