
			<html>
			<head>
			    <title>Items from your Contour order have shipped!</title>
			</head>

			<body>
			    <table cellpadding="0" cellspacing="0" style="width:100%;">
			        <tr>
			            <td align="center">
			                <table cellpadding="0" cellspacing="0" style=
			                "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;color:#000;"
			                width="600">
			                    <tr>
			                        <td valign="bottom" width="199"><a href=
			                        "http://store.contour.com" style=
			                        "display:block;"><img alt="Contour" border="0" src=
			                        "http://cdn.shopify.com/s/files/1/0303/8453/files/emailorderreceiptHeader.gif?2601"
			                        style="width:600px; height:52px;"></a></td>
			                    </tr>
			                </table>

			                <table cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;color:#000;padding-top:25px;" width="600">
			                    <tr>
			                        <td style="padding-left:21px;">
			                            <p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:12px;color:#777;">
			                            Dear {{ customer.name }},</p>

			                            <p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:12px;color:#777;">{% if fulfillment.line_items.size == line_items.size %}All{% else %}{% if unfulfilled_line_items.size == 0 %}The last{% else %}Some{% endif %}{% endif %} of the items from order {{ name }} have now been shipped:</p> 

			                        </td>
			                    </tr>
			                </table>

			                <table cellpadding="0" cellspacing="0" width="600">
			                    <tr>
			                        <td style="padding-left:21px;">

		                                {% if requires_shipping %}
		                                <h2 style="margin-top:25px; font-size: 18px; color: #333333;font-weight: normal;">SHIPPED ITEMS:</h2>		                        	
			                        	<table cellpadding="0" cellspacing="0" style=
			                            "font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;text-align:left;color:#000; width:560px; padding-top:0px; background-color: #FFFFFF; border:5px solid #EFF0F1; position: relative; margin-bottom:2px;">
			                            <!-- start items loop -->

		
			                                <thead>
			                                    <tr>
			                                        <th scope="col" style=
			                                        "height:42px;color:#333333;text-align:left; padding-left:21px;background-color:#FFFFFF;font-size:12px; font-weight: normal;text-transform: uppercase; border-right:1px solid #EFF0F1; border-bottom:1px solid #EFF0F1;"
			                                        width="385">Item Description</th>


			                                        <th scope="col" style=
			                                        "height:42px;color:#333333;text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal;text-transform: uppercase; border-bottom:1px solid #EFF0F1;border-right:1px solid #EFF0F1;"
			                                        width="85">Shipped</th>
			                                    </tr>
			                                </thead>

			                                <tbody>
			                                	{% for line in fulfillment.line_items %}
				                                    <tr>
				                                        <td class="image" style="vertical-align: middle; text-align:left; background-color:#FFFFFF;font-size:12px; font-weight: normal; color:#333333;border-right:1px solid #EFF0F1; ">
				                                        <a href="{{ shop.url }}{{ line.product.url }}">
					                                        <img alt="ContourROAM 2" src="{{ line.product.featured_image |  product_img_url }}" style="float:left; border:0; height:50px; padding:5px;"></a>
				                                        <span style="vertical-align: middle; height: 50px; display: table-cell;">{{ line.title }}</span></td>

				                                        <td style="text-align:center;background-color:#FFFFFF;font-size:12px; font-weight: normal; color:#333333;border-right:1px solid #EFF0F1;">
				                                        {{ line.quantity }}</td>
				                                    </tr>
			                                    {% endfor %}
			                                </tbody><!-- end items loop -->
			                            </table>
			                        </td>
			                    </tr>
			                </table>


							<table cellpadding="0" cellspacing="0" style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:16px;color:#000;padding-top:25px;" width="600">
			                    <tr>
			                        <td style="padding-left:21px;">

										{% if fulfillment.tracking_number %}
										<p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:12px;color:#777;">The {% if fulfillment.tracking_company %}{{ fulfillment.tracking_company }}{% endif %} tracking number for these items is <a href ="{{ fulfillment.tracking_url }}">{{ fulfillment.tracking_number }}</a>.
										<p></p>
										<p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:12px;color:#777;">Please allow some time for the status of the shipment to correctly display at the above address.</p>
										{% endif %}{% endif %}{% if unfulfilled_line_items.size > 0 %}
										<p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:12px;color:#777;">You will receive a confirmation email when more items from your order have been shipped.</p>
										{% endif %}

			                            <p style="font-family:Arial, Helvetica, Verdana, sans-serif; font-size:12px;color:#777;">
			                            Thanks,<br>
			                            Contour Support</p>
			                        </td>
			                    </tr>
			                </table>
			            </td>
			        </tr>
			    </table>
			</body>
			</html>